body {
  background-color: #3b7940;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-y: none;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}