#BOX{
    background-color: #89A8B2;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

#PAPER{
    background-color:  #F1F0E8;
    background-image: url("./assets/bg.jpg");
}
